/* font */
@font-face {
    font-family: "lush";
    font-weight: 100;
    src: url(../font/Lush.ttf);
}
@font-face {
    font-family: "NanumGothic";
    font-weight: 100;
    src: url(../font/NanumGothicLight.ttf);
}
@font-face {
    font-family: "NanumGothic";
    font-weight: 400;
    src: url(../font/NanumGothic.ttf);
}
@font-face {
    font-family: "NanumGothic";
    font-weight: 700;
    src: url(../font/NanumGothicBold.ttf);
}
@font-face {
    font-family: "NanumGothic";
    font-weight: 900;
    src: url(../font/NanumGothicExtraBold.ttf);
}
@font-face {
    font-family: "NanumSonPyeonjiCe";
    font-weight: 900;
    src: url(../font/NanumSonPyeonjiCe.ttf);
}

body {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    word-break: keep-all;
}

/* 공통레이아웃 */
.wide_inner_box {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px;
    /* background-color: rgba(255,0,0,0.1); */
}
.inner_box {
    max-width: 1585px;
    margin: 0 auto;
    /* background-color: rgba(0,255,0,0.1); */
}
.view_more {
    position: absolute;
    width: 100px;
    height: 30px;
    border: 1px solid;
    transition: .5s;
}
.view_more.btn--white {
    border: 1px solid #fff;
}
.view_more.btn--white:hover {
    border-color: #000;
    background: #000;
}


/* header */
header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background: #000;
}

.logo {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(../image/lush_logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.logo>a {
    display: block;
    height: 100%;
    line-height: 100px;
}

.gnb {
    float: right;
    margin-top: 40px;
}
.gnb>li {
    display: inline-block;
    width: 20px;
    margin-left: 20px;
}
.gnb>li>a {
    width: 100%;
    height: 100%;
    display: block;
}

#main_menu {
    text-align: center;
}
.gnb_sub_wrap {
    position: absolute;
    width: 100%;
    height: 0;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
}
#main_menu>#nav {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#main_menu>#nav::after {
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
#nav>li {
    display: inline-block;
}
#nav>li>a {
    display: block;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    line-height: 100px;
}
#nav>li::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-bottom: 10px solid #fab8ac;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    opacity: 0; 
}
#nav>li:hover::after {
    opacity: 1;
}

#nav>li>.menu_list {
    position: absolute;
    padding-top: 20px;
    display: none;
    /* background-color: #333; */
}

#nav>li>.menu3 {
    width: 1050px;
    margin-left: -450px;
}
#nav>li>.menu4 {
    width: 480px;
    margin-left: -150px;
}

#nav>li>.menu_list>.gnb_sub {
    float: left;
}


.gnb_sub_ttl>a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.gnb_sub_ttl>a:hover {
    font-weight: bolder;
}
.sub_sub {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.sub_sub:first-child {
    padding-right: 15px;
}
#nav>li>.menu_list>.gnb_sub .sub_sub>li>a {
    font-size: 14px;
    color: #aaa;
    line-height: 2em;
}
#nav>li>.menu_list>.gnb_sub .sub_sub>li:hover>a {
    font-weight: bold;
    color: #fab8ac;
}

/* #container */

/* #main_banner */
#main_banner {
    position: relative;
    z-index: 500;
    width: 100%;
    height: 850px;
    top: 100px;
    overflow: hidden;
}
.banner {
    width: 100%;
    height: 100%;
}
.banner>li {
    position: absolute;
    width: 100%;
    height: 100%;
}
.banner>li>.text_box {
    position: absolute;
    color: #fff;
}
.banner>.banner1{
    background: url(../image/main_banner01.jpg)no-repeat center center;
    background-size: cover;
    /* display: none; */
}
.banner1>.text_box {
    top: 300px;
    left: 15%;
    font-family: "lush", "NanumGothic", sans-serif;
    line-height: 1.5;
}
.banner1>.text_box>h2 {
    font-weight: lighter;
    font-size: 50px;
}
.banner1>.text_box>h2>strong {
    font-weight: 500;
    font-size: 50px;
}

.banner>.banner2{
    background: url(../image/main_banner02.jpg)no-repeat center center;
    background-size: cover;
    display: none;
}
.banner2>.text_box {
    top: 300px;
    left: 20%;
    text-align: right;
    line-height: 1.6;
}
.banner2>.text_box>h2 {
    font-size: 50px;
    color: #2a4c01;
    font-family: "lush", "NanumGothic", sans-serif;
} 
.banner2>.text_box>p {
    font-size: 22px;
    color: #2a4c01;
    top: 30px;
    
}
.banner2>.text_box>.view_more {
    width: 130px;
    height: 40px;
    border-color: #2a4c01;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    right: 0px;
    top: 200px;
}
.banner2>.text_box>.view_more>a {
    display: inline-block;
    width: 100%;
    color: #2a4c01;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
}
.banner2>.text_box>.view_more:hover>a {
    background: #2a4c01;
    color: #fff;
}
.banner>.banner3{
    background: url(../image/main_banner03.jpg)no-repeat center center;
    background-size: cover;
    display: none;
}
.banner3>.text_box {
    top: 200px;
    left: 10%;
    text-align: right;
    line-height: 1.6;
}
.banner3>.text_box>h2 {
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    font-family: "NanumSonPyeonjiCe", "NanumGothic", sans-serif;
} 
.banner3>.text_box>p {
    font-size: 22px;
    color: #fff;
    top: 30px;
}
.banner3>.text_box>.view_more {
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    right: 0px;
    top: 200px;

}
.banner3>.text_box>.view_more>a {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

#main_banner .pager {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#main_banner .pager li {
    float: left;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 7px;
    bottom: 30px;
    transition: 0.5s;
}
#main_banner .pager li.on {
    border: 1px solid #333;
    background: #333;
}
#main_banner .pager li>a {
    display: block;
    width: 100%;
    height: 400%;
}

/* #contents */

/* 공통레이아웃 */
.title {
    font-size: 50px;
    font-weight: normal;
    margin-left: 60px;
}

.text_box>.kr_name {
    font-size: 18px;
}
.text_box>.text {
    margin: 5px 10px;
    font-size: 14px;
    color: #8f8f8f;
    word-break: keep-all;

}
.text_box>.price {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}
/* best */
.best_wrap {
    margin-top: 150px;
}
.best_wrap>.inner_box {
    height: 700px;
    padding: 0 50px;
    position: relative;
    overflow: hidden;
    /* background-color: #626262; */
}
.best_boxWrap{
    box-sizing: border-box;
    margin: 0 50px;
    /* background-color: green; */
}
.best_box {
    /* width: 200%; */
    height: 100%;

}
.best_item {
    /* width: 10%; */
    height: 100%;
    position: relative;
    padding: 0 9px;
    box-sizing: border-box;
}
.best_item>a {
    width: 100%;
    height: 100%;
    display: block;
    backface-visibility: hidden;
    perspective: 2000px;
    position: relative;
    z-index: 100;
}

.best_item img {
    width: 90%;
    margin-top: 10%;
}
.best_item .text_box {
    text-align: center;
}
.best_item .text_box>.price {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.front_box {
    width: 100%;
    height: 474px;
    text-align: center;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    transition: .5s;
    box-sizing: border-box;
}
.front_box.rotateOn {
    transform: rotateY(180deg);
    opacity: 0;
    transition: .5s;
}
.back_box {
    width: 100%;
    height: 474px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.7);
    top: 0;
    opacity: 0;
    transform: rotateY(-180deg);
    transition: .5s;
    box-sizing: border-box;
}
.back_box.rotateOn {
    transform: rotateY(0deg);
    display: block;
    opacity: 1;
    transition: all .5s;
}
.back_box>.en_text {
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: "lush", "NanumGothic", sans-serif;
}
.back_box>.en_text::after {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background: #fff;
    margin: 10px auto;
}
.back_box>.star {
    color: #fff;
    font-size: 18px;
}
.back_box>.text {
    width: 90%;
    margin: 15px auto;
    color: #ddd;
    font-size: 16px;
    line-height: 1.7;
    word-break: keep-all;
}
.back_box strong {
    font-size: 20px;
    font-weight: 500;
}
.back_box>.byname {
    color: #ddd;
    display: block;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.bb_btn {
    display: none;
}

/* .best_wrap .swiper_btn {
    width: 100%;
    top: 50%;
    z-index: 200;
}
.best_wrap .swiper_btn>div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    transition: background-color .5s;
}

.best_wrap .swiper_btn>.prevbtn {
    left: 30px;
}
.best_wrap .swiper_btn>.nextbtn {
    right: 30px;
}
.best_wrap .swiper_btn>.prevbtn>a,
.best_wrap .swiper_btn>.nextbtn>a {
    display: block;
    width: 100%;
    height: 100%;
}
.best_wrap .swiper_btn>.prevbtn:hover {
    padding-right: 20px;
    transition: .5s;
}
.best_wrap .swiper_btn>.nextbtn:hover {
    padding-left: 20px;
    transition: .5s;
}
.best_wrap .swiper_btn img {
    height: 30px;
    padding: 20px 0;
    opacity: 0.5;
} */



/* event */
.event {
    width: 100%;
    height: 422px;
    margin: 100px 0;
    padding: 0;
    background-color: #ffcc42;
    background-image: url(../image/event_banner.gif);
    background-repeat: no-repeat;
    position: relative;
}
.event>a {
    display: block;
    width: 100%;
    height: 100%;
}
.event_text {
    color: #fff;
    text-align: left;
    position: absolute;
    top: 10%;
    right: 5%;
}
.event_text>h4 {
    font-size: 65px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.event_text>p {
    width: 440px;
    font-size: 22px;
}
.event_text>.view_more {
    width: 180px;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}


/* pick */
.pick_modal_bg {
    display: none;
}
.pick_gift, 
.pick_hair {
    position: relative;
    margin-bottom: 130px;
}
.pick_gift>.main_box,
.pick_hair>.main_box {
    width: 60%;
    padding-bottom: 35%;
    position: relative;
}
.main_box>.plus_more {
    position: absolute;
    cursor: pointer;
    width: 43px;
    height: 43px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    transition: background-color .5s;
}
.main_box>.plus_more>span {
    color: #fff;
    font-size: 30px;
    line-height: 35px;
}
.pick_more {
    position: absolute;
    bottom: -60px;
    right: 0;
}
.pick_more .sub_title {
    font-size: 35px;
    font-weight: 300;
    color: #555;
    display: inline-block;
    line-height: 50px;
}
.plus_big {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin-left: 5px;
    font-size: 25px;
    color: #777;
    transition: .3s;
}
.pick_more:hover .plus_big {
    transform: scale(1.2);
    font-size: 35px;
    font-weight: lighter;
    background: rgba(0,0,0,0.5);
    color: #fff;
}

.gift_item, 
.hair_item {
    width: 30%;
    position: absolute;
    right: 70px;
    top: 0;
    text-align: center;
    background: #fff;
    border-radius: 10px;
}
.gift_item img,
.hair_item img {
    width: 80%;
}
.gift_item .text_box,
.hair_item .text_box {
    margin: 0 auto;
    width: 70%;
}
.gift_box>a,
.hair_item>a {
    display: inline-block;
    width: 100px;
    height: 25px;
    margin-top: 25px;
    line-height: 25px;
    font-size: 12px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: 0.5s;
}
.gift_box>a:hover,
.hair_item>a:hover {
    background: #333;
    color: #fff;
}

/* gift */
.pick_gift .main_box {
    background: url(../image/pick_gift_main.jpg) no-repeat center center;
    background-size: cover;
}
.pick_gift .main_box>.plus_more {
    background: rgba(0,0,0,0.7);
}
.pick_gift .main_box>.plus_more:hover {
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.7);

}
.pick_gift .main_box>.pg1 {
    top: 55%;
    right: 25%;
}
.pick_gift .main_box>.pg2 {
    bottom: 10%;
    right: 50%;
}
.pick_gift .main_box>.pg3 {
    top: 25%;
    left: 20%;
}
.pick_gift .main_box>.pg4 {
    bottom: 10%;
    left: 20%;
}
.pick_gift .main_box>.pg5 {
    top: 50%;
    right: 38%;
}
.pick_gift .main_box>.pg6 {
    background: rgba(255,255,255,0.7);
    top: 50%;
    left: 40%;
    transform: scale(1.3);
}

.gift_item>.item_box {
    width: 100%;
    position: absolute; 
    top: 0;
    display: none;
}
.gift_item>.item_box.on {
    display: block;
}


/* hair */
.pick_hair>.main_box {
    background: url(../image/pick_hair_main.jpg) no-repeat center center;
    background-size: cover;
}
.pick_hair>.main_box>.plus_more {
    background: rgba(255,255,255,0.5);
}
.pick_hair>.main_box>.plus_more:hover {
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.5);
} 
.pick_hair>.main_box>.ph1 {
    top: 50%;
    left: 44%;
}
.pick_hair>.main_box>.ph2 {
    top: 50%;
    left: 15%;
}
.pick_hair>.main_box>.ph3 {
    top: 13%;
    left: 22%;
}
.pick_hair>.main_box>.ph4 {
    bottom: 23%;
    right: 15%;
}
.pick_hair>.main_box>.ph5 {
    top: 10%;
    right: 18%;
}
.pick_hair>.main_box>.ph6 {
    bottom: 12%;
    left: 20%;
}
.hair_item {
    display: none;
}
.hair_item.active,
.hair_item.on {
    display: block;
}

/* more */
.more_wrap {
    width: 100%;
    height: 450px;
    margin-top: 100px;
    padding: 50px 0 100px;
    background: #f9f9f9;
}
.more_wrap .inner_box {
    margin: 0;
}
.swiper-slide {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.more_list>li>div {
    width: 100%;
    height: 380px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s;
}

.more_list .img_box {
    width: 100%;
    height: 60%;
}
.more_list .img_box>img {
    width: 100%;
    margin: 0 auto;
}
.more_list .text_box {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    padding: 0 20px 10px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
.more_list .text_box h5 {
    font-size: 35px;
    font-family: "lush";
    font-weight: 300;
    margin-top: -30px;
}
.sub_text {
    font-size: 20px;
}
.more_list .text {
    color: #ddd;
}
.more_list .view_more {
    width: 90px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    top: 20px;
    right: 20px;
    line-height: 25px;
}
.more_list>li:hover .view_more {
    background: #fff;
    color: #000;
}
.more_wrap .swiper-scrollbar {
    height: 4px;
    bottom: -10px;
}



/* footer */
footer {
    background: #2b2b2b;
}
.foot_top {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #626262;
}
.foot_top>ul {
    max-width: 1340px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.foot_top>ul>li img {
    width: 80%;
    margin: 15px 0;
}

.foot_bottom {
    width: 100%;
    height: 380px;
}
.bottom_l_box {
    width: 40%;
    float: left;
}
.bottom_r_box {
    width: 60%;
    float: right;
    text-align: center;
}
.foot_util>li {
    float: left;
    padding: 20px;
}
.foot_util>li>a {
    color: #fff;
}
.foot_util>li:nth-child(2) a {
    color: yellow;
}
.subscribe {
    margin: 30px 20px;
}
.subscribe>form>.email {
    display: inline-block;
    width: 65%;
    height: 30px;
}
.subscribe .subs_btn {
    display: inline-block;
    width: 78px;
    height: 32px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}
.subscribe>.text_box {
    /* width: 450px; */
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
}
.subscribe>.text_box>a {
    color: #fff;
    text-decoration: underline;
    padding-left: 10px;
}
.foot_sns>li img {
    width: 50px;
}
.copyright {
    margin: 0 20px 30px;
    color: #ccc;
    font-size: 12px;
}
.copyright>p {
    display: inline-block;
    padding-right: 10px;
}
.copyright a {
    color: #fff;
    cursor: pointer;
}
.copy {
    padding-top: 20px;
}

.bottom_r_box {
    margin: 100px 0;
    position: relative;
}
.bottom_r_box>div {
    width: 23%;
    height: 100px;
    padding: 0 40px;
    float: left;
    border-right: 1px solid #333;
}
.bottom_r_box .tel {
    font-size: 18px;
    color: #eee;
    /* margin-top: -20px; */
}
.bottom_r_box .mail {
    font-size: 16px;
    color: #fff;
}
.bottom_r_box .mail:hover {
    text-decoration: underline;
}
.bottom_r_box>.cs_box span {
    display: block;
    margin-top: 20px;
    color: #eee;
}
.bottom_r_box>.foot_sns {
    width: 25%;
    margin: 0 40px;
    float: left;
}
.bottom_r_box>.foot_sns>li {
    float: left;
    width: 33.3%;
    text-align: center;
}
.bottom_r_box>.foot_sns>li img {
    width: 60%;
}
.foot_sns span {
    display: block;
    font-size: 12px;
    color: #eee;
    padding-top: 15px;
}

/* #up_down */
#up_down {
    position: fixed;
    bottom: 140px;
    right: 1%;
    z-index: 100;
}
#up_down>ul>li {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 10px 0 10px;
    background: rgba(255,255,255,0.8);
    position: relative;
}
#up_down>ul>li>a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#up_down>ul>li img {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ktalk {
    position: fixed;
    bottom: 50px;
    right: 1%;
    width: 50px;
    height: 85px;
    border: 1px solid #ddd;
    border-radius: 35px;
    text-align: center;
    background: #fae100;
    z-index: 100;
}
.ktalk>a {
    display: inline-block;
}
.ktalk img {
    width: 100%;
}
.ktalk>a p {
    color: #333;
    font-weight: bold;
}
